body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 8em 0;
}

#skill img {
    height: 80px;
}

#contact li a{
    color: grey;
}

#contact li a:hover{
    color: black;
    transform-origin: 0.3;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}